.home-img {
    display:flex;
    width:50%;
    max-inline-size: 100%;
    block-size: auto;
    object-fit: contain;
    min-width: 20em;
}

.div-description {
    min-width: 30em;
}

@media screen and (min-width: 600px){        
    .intro-video {
       width: 30vw;
       height: 20vh;
    }

}

.bglayer {
    height:300px
}